@font-face {
  font-family: generalFont;
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("woff"),
}

@font-face {
  font-family: Novamono;
  src: url("../fonts/Nova_Mono/NovaMono-Regular.ttf") format("woff")
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("woff")
}
